:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#map {
  height: 100vh;
  width: 100vw;
}
.leaflet-pane.leaflet-overlay-pane,
.leaflet-pane svg {
  mix-blend-mode: multiply;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
dt > a {
  font-weight: unset;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

dl {
  font-family: monospace;
}

dt {
  display: block;
  font-weight: bold;
  margin-top: 0.2rem;
}

dd {
  display: block;
  margin-inline-start: 1rem;
}

span.square {
  display: inline-block;
  width: 12px;
  height: 12px;
  text-shadow: 0 0 5px black;
}

.leaflet-control-geocoder-form input {
  color: black;
  background-color: white;
}

.ol-touch .ol-date-control,
.ol-date-control {
  top: 4.5em;
  left: 0.5em;
}

.ol-popup {
  color: #242424;
  font-size: 0.8em;
  line-height: 1.25;
  max-width: 80vh;
}
